<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bollywood_movie.name %>
</p>


<%= link_to 'Edit', edit_bollywood_movie_path(@bollywood_movie) %> |
<%= link_to 'Back', bollywood_movies_path %>
